parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - tests
        - src/Laravel
    tmpDir: .phpstan
    ignoreErrors:
        - identifier: missingType.iterableValue
        # Predis is optional - ignore all related errors
        -
            message: '#Predis#'
            path: src/Storage/RedisStorage.php
